.venv/
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store

.env
credentials.json
*.p12
*.pem

*.csv
*.xlsx
*.xlsm
*.xlsb
*.xltx
*.xltm
*.xls
*.xml
*.db
*.db-journal
*.sqlite3